body {
  /* Old browsers */
  background-color: rgb(200, 200, 230);
  /* Chrome 10-25, Safar 5.1-6 */
}

a {
  color: rgb(0,0,0);
  text-decoration: none;
  text-align: left;
  margin-left: 500;
  font-family: "Playfair Display", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: rgba(3, 101, 100, 0.75);
  text-align: center;

}

p {
  color: #214E34;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
