body {
  /* Old browsers */
  background-color: rgb(200, 200, 230);
  /* Chrome 10-25, Safar 5.1-6 */
}

a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;

}

.headings {
  font-family: "Raleway", sans-serif;
  color: rgba(3, 50, 10, 0.9);
  text-align: center;
}

.images {
  border: 6px solid #000;
  border-radius: 50px;
}

.body {
  color: #214E34;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  min-width: 200px;

}
#title {
  font-family: "Raleway", sans-serif;
  color: rgba(3, 101, 100, 0.75);
  text-align: center;
  top: 25%;
  min-width: 400px;
}

p {


}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
