* {
  padding: 0;
  margin: 0;
}
body {
  /* Old browsers */
  background-color: rgb(200, 200, 230);
  /* Chrome 10-25, Safar 5.1-6 */
}

a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  padding-left: 20px;

}
.navigation {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  position: fixed;
  background-color: rgba(180, 150, 150, 0.7);
  width: 100%;

}

.headings {
  font-family: "Raleway", sans-serif;
  color: rgba(3, 50, 10, 0.9);
  text-align: center;
}

.images {
  border: 6px solid #000;
  border-radius: 50px;
  text-align: center;
  margin: 20px;
}

.body {
  color: #214E34;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  min-width: 200px;
  padding: 5px 10px;

}
#title {
  font-family: "Raleway", sans-serif;
  color: rgba(3, 101, 100, 0.75);
  text-align: center;
  padding-top: 80px;
  min-width: 400px;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
  font-size: 20px;
}

li:hover {
  color: rgb(40, 125, 190);
}

p {


}
img {
  padding: 10px;
  margin: 5px;
}
